[defaults]

inventory = ./act8inventory
remote_user = ubuntu-1811849
deprecation_warnings = false

[privilege_escalation]

become = True
become_method = sudo
become_user = root
become_ask_pass = False

